.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: #215723;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100vh;
    margin: 20px;
    border-radius: 5px;
    border-color: color rgb(25, 25, 25);
}